<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <!-- highlight.js -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- highlight.js -->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Code Sharing Platform</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" th:if="${code == null}">
            <p>Code not found</p>
        </div>
        <div class="col-12" th:if="${code != null}">
            <div class="col-12">
                <h2>Code snippet</h2>
            </div>
            <pre id="code_snippet"><code th:text="${code}"></code></pre>
            <span th:text=" ${date}" id="load_date"></span>
        </div>
    </div>
</div>
</body>
</html>